@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: "Open Sans";
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    width: 60%;
    padding: 5px 0px;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}

.nav-logo {}

.nav-items ul {
    list-style-type: none;
    display: flex;

}

.nav-items ul li {}

.nav-items ul li a {
    margin-left: 20px;
    font-weight: 600;
    color: #7D7D7D;
    transition: 0.3s ease-in-out;
    text-decoration: none;
    color: #7D7D7D;
}

.nav-items ul li a:hover {
    color: black;

}

.nav-items ul li a:active {
    color: black;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 20px 20%;
}

.hero {
    grid-template-columns: 1fr 1fr;
}

.hero-tag {

    height: 450px;
    width: 830px;
    float: left;
    margin-right: 15px;
    background-image: url(assets/images/hero-tag.svg);
    background-repeat: no-repeat;
    border-radius: 30px;
    border: none;
}

.hero-items {
    padding: 40px;

}

.hero-items h1 {
    width: 700px;
    font-size: 40px;
    font-weight: 600;
    line-height: 47px;
    margin-bottom: 70px;

}

.hero-items p {
    width: 600px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 120px;
}

.cont-btn {
    height: 50px;
    width: 175px;
    font-size: 14px;
    font-weight: 600;
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    margin-left: 15px;
}

.cont-btn:hover {
    background-color: rgb(52, 52, 52);
}

.buttons {
    display: flex;
}

.btn {
    height: 48px;
    width: 48px;
    border: none;
    border-radius: 50%;
    margin-left: 15px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}
.btn a{
    text-decoration: none;
    color: black;
}
.btn a:hover{
    text-decoration: none;
    color: white;
}
.btn-git i {
    font-size: 28px;

}

.btn-git:hover {
    background-color: black;
    color: white;
}

.btn-insta i {
    font-size: 25px;
}

.btn-insta:hover {
    background: linear-gradient(to right,
            #833ab4, #fd1d1d, #fcb045);
    color: white;
}

.btn-x i {
    font-size: 25px;
}

.btn-x:hover {
    background-color: black;
    color: white;
}

.btn-link i {
    font-size: 25px;
}

.btn-link:hover {
    background-color: #0077B5;
    color: white;
}

.hero-img {
    height: 450px;
    width: 300px;
    float: right;
    background-image: url(assets/images/hero-tag.svg);
    border-radius: 30px;
    border: none;
}

.hero-img img {
    width: 300px;
    height: 450px;
    object-fit: cover;
    border-radius: 30px;
    border: none;
}